/*Police Raleway*/

@font-face {
  font-family: Raleway-Regular;
  src: url("Raleway-Regular.ttf") format("truetype"),
    url("Raleway-Regular.eot") format("eot"),
    url("Raleway-Regular.woff") format("woff"),
    url("Raleway-Regular.svg") format("svg");
}
@font-face {
    font-family: Raleway-Bold;
    src: url("Raleway-Bold.ttf") format("truetype"),
        url("Raleway-Bold.eot") format("eot"),
        url("Raleway-Bold.woff") format("woff"),
        url("Raleway-Bold.svg") format("svg");
}
body {
  font-family: "Raleway-Regular", Arial, serif;
}
/*Taille texte*/

.tailleText1 {
font-size: 17px;
font-family: "Raleway-Blod",  Arial, serif
}
/*<Taille texte*/
/*<Police Raleway*/

/*Header-Topsection*/

header {
  color: #0065fc;
}
ul {
  list-style: none;
  font-size: 19px;
}

#topSection {
  display: flex;
  justify-content: space-between;
}
.element_2 {
    display: flex;
    align-self: flex-end;
    width: 35%;
    font-weight: bold; 
    padding-left: 660px;
    padding-right: 0px;
    position: relative;
    bottom: 10px;
}
.element_3 {
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #0065FC; 
    border-top: 3px solid ;
}
.element_4 {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: gray;
}
.element_5 {    
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #0065FC; 
    font-family: 'Raleway-Bold';
}
/*<Header-Topsection*/
/*Menu*/

#menu {
    display: flex;
    flex-flow: column wrap;
    padding-left: 40px; 
    height: 500px;
}
.menu_1 {
    font-size: 21px;
    font-weight: bold;
    font-family: "Raleway-Bold";
}
.p1 {
    position: relative;
    bottom:30px;
    font-size: 15px;
    font-weight: 500;
}
.menu_3 {
    order: 8;
}
.menu_4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 900px;
    font-family: "Raleway-Bold";
}
.menu_5 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-right: 15px;
    max-height: 40px;
    border: solid#d8d6d6 2px;
    border-left: none;
    border-radius: 25px;
    font-size: 13px;
}
.menu_6 {
    display: flex;
    align-items: center;
    padding-right: 15px;
    max-height: 40px;
    border: solid #d8d6d6 2px;
    border-left: none;
    border-radius: 25px;
    font-size: 13px;

}
.menu_7 {
    display: flex;
    align-items: center;
    padding-right: 15px;
    max-height: 40px;
    border: solid #d8d6d6 2px;
    border-left: none;
    border-radius: 25px;
    font-size: 13px;
    
}
.menu_8 {
    display: flex;
    align-items: center;
    padding-right: 15px;
    max-height: 40px;
    border: solid #d8d6d6 2px;
    border-left: none;
    border-radius: 25px;
    font-size: 13px;
}
/*Effet de survol Filtres*/

.menu_5:hover {
    color: #7B68EE;
    text-decoration: none;
    background-image:url(images/gif/cloud_mini.gif);
    background-position: center;
    background-repeat: no-repeat;  
    cursor: pointer; 
}
.menu_6:hover {
    color: #7B68EE;
    text-decoration: none;
    background-image:url(images/gif/cloud_mini.gif);
    background-position: center;
    background-repeat: no-repeat;   
    cursor: pointer;
}
.menu_7:hover {
    color: #7B68EE;
    text-decoration: none;
    background-image:url(images/gif/cloud_mini.gif);
    background-position: center;
    background-repeat: no-repeat;  
    cursor: pointer; 
}
.menu_8:hover {
    color: #7B68EE;
    text-decoration: none;
    background-image:url(images/gif/cloud_mini.gif);
    background-position: center;
    background-repeat: no-repeat;   
    cursor: pointer;
}
/*<Effet de survol Filtres*/
/*Icons*/

.i {
    font-size: 15px;
    color: #0065FC;
    background-color:#DEEBFF;
    padding: 14px;
    margin-right: 5px;
    border-radius:  80%;
}
.i1 {
    font-size: 15px;
    color: black;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    width: 15px;
    padding: 14px;
    margin-right: 5px;
}
.i2 {
    color: white;
    background-color: #0065FC;
    font-size: 20px ;
    padding: 0px;
    border: solid rgb(167, 166, 166) 1px;
    border-radius:  80%;
}
/*<Icons*/

/*<Menu*/
/*Barre de recherche*/

#menu2_ {
    display: flex;
    margin-top: -20px;
    margin-bottom: 27px;
    }
.menu2_1 {
    padding-right: 0px;
    
    margin: 0px;
}
.menu2_2 {
    position: relative;
    right: 5px;
    padding-left: 10px;
    padding-right: 60px;
    border-left: none;
    border-right: none;
    border-top: solid rgb(226, 223, 223) 0.5px;
    border-bottom: solid rgb(226, 223, 223) 0.5px;
    font-family: "Raleway-Bold";
}
.menu2_3 {
    position: relative;
    right: 6px;
    padding: 11.5px;
    background-color: #0065FC;
    font-size: 15px;
    font-family: "Raleway-Bold";
    color: white;
    border: grey solid 1px;
    border-radius: 0px  13px 13px 0px ;
    cursor: pointer;
}
.menu2_3_ {
    display: none;
}
/*Barre de recherche*/

/*Section 1*/

.titleS1 {
    display: block;
    flex-wrap: wrap;
    background-color: #0e0202);
    height: 20%;
    font-family: 'Raleway-Bold';
    margin-left: 40px;
}

.title_2_S1 {
    font-family: 'Raleway-Bold';
    text-decoration: none;
    color: black;
    margin-left: -490px;
    position: relative;
    top: 40px;   
}
#section1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: space-around;
    align-content: flex-start;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-left: 30px;
    width: 830px;    
    max-height: 700px;
    margin-bottom: 200px;
    margin-top: -200px;
}

/*Vignette1*/

#S1vignette1 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-self:baseline;
    align-items: center;
    margin-left: 12px;
    margin-top: 90px;
    width: 225px;
    max-height: 210px;
    border: solid white 5px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;    
    background-color: white;
    position: relative;
    right: 325px;
    box-shadow: 4px 4px 15px #cac8c8;
}
.S1photoVig1 {
    position: relative;
    bottom: 30px;
    border: solid white 5px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
	height: 140px;
    order: 1;
}
.S1titleVig1 {
    align-self: flex-start;
    position: relative;
    bottom : 60px;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 1px;
    order: 2;
    width: 230px;
    font-family:'Raleway-Bold';
}
.S1prixVig1 {
    display: flex;
    align-self: flex-start;
    flex-flow: nowrap row;
    margin-left: 15px;
    order: 3;
    position: relative;
    bottom: 85px;
}

.S1note1 {
    display: flex;
    font-size: 14px;

    position: relative;
    bottom: 108px;
    left: -59px;

    order: 4;
    color: #0065FC;
}
.S1note1Not {
    color: #c7c3c3;
}
/*Vignete2*/

.S1vignette2 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-self:baseline;
    align-items: center;
    margin-right: 10px;
    margin-top: 20px;
    width: 225px;
    max-height: 210px;
    border: solid white 5px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;    
    background-color: white;
    position:relative;
    left: 295px;
    bottom: 235px;
    box-shadow: 4px 4px 15px #cac8c8;
    
}
.S1photoVig2 {
    position: relative;
    bottom: 30px;
    border: solid white 5px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
	height: 140px;
    order: 1;
}
.S1titleVig2 {
    align-self: flex-start;
    position: relative;
    bottom : 60px;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 1px;
    order: 2;
    width: 230px;
    font-family:'Raleway-Bold';
}
.S1prixVig2 {
    display: flex;
    align-self: flex-start;
    flex-flow: nowrap row;
    margin-left: 15px;
    order: 3;
    position: relative;
    bottom: 85px;
}

.S1note2 {
    display: flex;
    font-size: 14px;

    position: relative;
    bottom: 108px;
    left: -59px;

    order: 4;
    color: #0065FC;
}
/*Vgignette3*/

.S1vignette3 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-self:baseline;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    width: 225px;
    max-height: 210px;
    border: solid white 5px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;    
    background-color: white;
    position: relative;
    left: 285Px;
    bottom: 235px;
    box-shadow: 4px 4px 15px #cac8c8;

    
}
.S1photoVig3 {
    position: relative;
    bottom: 30px;
    border: solid white 5px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
	height: 140px;
    order: 1;
}
.S1titleVig3 {
    align-self: flex-start;
    position: relative;
    bottom : 60px;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 1px;
    order: 2;
    width: 230px;
    font-family:'Raleway-Bold';
}
.S1prixVig3 {
    display: flex;
    align-self: flex-start;
    flex-flow: nowrap row;
    margin-left: 15px;
    order: 3;
    position: relative;
    bottom: 85px;
}

.S1note3  {
    display: flex;
    font-size: 14px;

    position: relative;
    bottom: 108px;
    left: -59px;

    order: 4;
    color: #0065FC;
}
.S1note3Not {
    color: #c7c3c3;
}
/*Vignette4*/

.S1vignette4 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-self:flex-start;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    width: 225px;
    max-height: 210px;
    border: solid white 5px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;    
    background-color: white;
    position: relative;
    right: 510px;
    top: 20px;
    box-shadow: 4px 4px 15px #cac8c8;
    
}
.S1photoVig4 {
    position: relative;
    bottom: 30px;
    border: solid white 5px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
	height: 140px;
    order: 1;
}
.S1titleVig4 {
    align-self: flex-start;
    position: relative;
    bottom : 60px;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 1px;
    order: 2;
    width: 230px;
    font-family:'Raleway-Bold';
}
.S1prixVig4 {
    display: flex;
    align-self: flex-start;
    flex-flow: nowrap row;
    margin-left: 15px;
    order: 3;
    position: relative;
    bottom: 85px;
}

.S1note4  {
    display: flex;
    font-size: 14px;

    position: relative;
    bottom: 108px;
    left: -59px;

    order: 4;
    color: #0065FC;
}
.S1note4Not {
    color: #c7c3c3;
}
/*Vignette5*/

.S1vignette5 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-self:baseline;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    width: 225px;
    max-height: 210px;
    border: solid white 5px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;    
    background-color: white;
    position: relative;
    bottom: 215px;
    left: 265px;
    box-shadow: 4px 4px 15px #cac8c8;
}
.S1photoVig5 {
    position: relative;
    bottom: 30px;
    border: solid white 5px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
	height: 140px;
    order: 1;
}
.S1titleVig5 {
    align-self: flex-start;
    position: relative;
    bottom : 60px;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 1px;
    order: 2;
    width: 230px;
    font-family:'Raleway-Bold';
}
.S1prixVig5 {
    display: flex;
    align-self: flex-start;
    flex-flow: nowrap row;
    margin-left: 15px;
    order: 3;
    position: relative;
    bottom: 85px;
}

.S1note5  {
    display: flex;
    font-size: 14px;

    position: relative;
    bottom: 108px;
    left: -59px;

    order: 4;
    color: #0065FC;
}
.S1note5Not {
    color: #c7c3c3;
}
/*Vignette6*/

.S1vignette6 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-self:baseline;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    width: 225px;
    max-height: 210px;
    border: solid white 5px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;    
    background-color: white;
    position: relative;
    bottom: 215px;
    left: 265px;  
    box-shadow: 4px 4px 15px #cac8c8; 
}
.S1photoVig6 { 
    position: relative;
    bottom: 30px;
    border: solid white 5px;
    border-radius: 20px 20px 0px 0px;
    width: 225px;
	height: 140px;
    order: 1;    
}
.S1titleVig6 {
    align-self: flex-start;
    position: relative;
    bottom : 60px;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 1px;
    order: 2;
    width: 230px;
    font-family:'Raleway-Bold';
}
.S1prixVig6 {
    display: flex;
    align-self: flex-start;
    flex-flow: nowrap row;
    margin-left: 15px;
    order: 3;
    position: relative;
    bottom: 85px;
    
}

.S1note6  {
    display: flex;
    font-size: 14px;

    position: relative;
    bottom: 108px;
    left: -59px;

    order: 4;
    color: #0065FC;
}
.S1prixBold {
    margin-left: 5px;
    font-family: 'Raleway-Bold';

}
/*Section 1*/

/*Section 2*/

#section2 {
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
    border: solid white 1px;
    border-radius: 30px;
    max-width: 410px;
    height: 700px;
    position: relative;
    left: 910px;
    bottom: 902px;
}
.titleS2 {
    display: block;
    flex-wrap: wrap;
    background-color: #0e0202);
    height: 20%;
    font-size: 22px;
    font-family: 'Raleway-Bold';
    margin-left: 30px;
}
.iconsS2 {
    margin-left: 90px;
    font-size: 25px;
}
/*Vignette 1*/

.S2vignette1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border: solid white 5px;
    border-radius: 20px;
    width: 350px;
    max-width: 400px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: -73px;
    max-height: 155px;
    box-shadow: 6px 8px 15px #cac8c8;
}
.S2note1 {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    font-size: 14px;
    color: #0065fc;
    order: 4;
    position: relative;
    right: 100px;
    top: 5px;
    
}
.S2prixVig1 {
    display: flex;
    flex-flow: row nowrap;
    align-self:flex-end;
    justify-content: flex-end;
    font-size: 14px;
    order: 3;
    position: relative;
    right: 85px;
    bottom: 15px;
    
}
.S2titleVig1 {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    justify-content: flex-end;
    font-size: 17px;
    font-family: 'Raleway-Bold';
    order: 2;
    position: relative;
    right: 80px;
    
}
.S2photoVig1 {
    width: 145px;
	height: 150px;
    position: relative;
    right: 40px;
    bottom: 15px;
    order: 1;
    border-radius: 20px 0px 0px 20px;
    
}
/*Vignette 2*/

.S2vignette2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border: solid white 5px;
    border-radius: 20px;
    width: 350px;
    max-width: 400px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 35px;
    max-height: 155px;
    box-shadow: 6px 8px 15px #cac8c8;
}
.S2note2 {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    font-size: 14px;
    color: #0065fc;
    order: 4;
    position: relative;
    right: 100px;
    top: 5px;
    
}
.S2prixVig2 {
    display: flex;
    flex-flow: row nowrap;
    align-self:flex-end;
    justify-content: flex-end;
    font-size: 14px;
    order: 3;
    position: relative;
    right: 93px;
    bottom: 15px;
    
}
.S2titleVig2 {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    justify-content: flex-end;
    font-size: 17px;
    font-family: 'Raleway-Bold';
    order: 2;
    position: relative;
    right: 73px;
    
}
.S2photoVig2 {
    width: 145px;
	height: 150px;
    position: relative;
    right: 40px;
    bottom: 15px;
    order: 1;
    border-radius: 20px 0px 0px 20px;
    
}
/*Vignette 3*/

.S2vignette3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border: solid white 5px;
    border-radius: 20px;
    width: 350px;
    max-width: 400px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 35px;
    max-height: 155px;
    box-shadow: 6px 8px 15px #cac8c8;
}
.S2note3 {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    font-size: 14px;
    color: #0065fc;
    order: 4;
    position: relative;
    right: 100px;
    top: 5px;
    
}
.S2prixVig3 {
    display: flex;
    flex-flow: row nowrap;
    align-self:flex-end;
    justify-content: flex-end;
    font-size: 14px;
    order: 3;
    position: relative;
    right: 84px;
    bottom: 15px;
    
}
.S2titleVig3 {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    justify-content: flex-end;
    font-size: 17px;
    font-family: 'Raleway-Bold';
    order: 2;
    position: relative;
    right: 76px;
    
}
.S2photoVig3 {
    width: 145px;
	height: 150px;
    position: relative;
    right: 40px;
    bottom: 15px;
    order: 1;
    border-radius: 20px 0px 0px 20px;
    
}
.S2prixBold {
    margin-left: 5px;
    font-family: 'Raleway-Bold';
}
/*Section 3*/

#section3 {
    display: flex;
    flex-flow: column wrap;
    height: 570px;
    max-width: 800px;
    margin-left: 32px;
    margin-right: 32px;
    position: relative;
    bottom: 850px;
}
.titleS3 {
    font-family: 'Raleway-Bold';
}
/*Vignette1*/

.S3vignette1{
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 300px;
    border-radius: 20px ;
    background-color: white;
    border: solid 1px gainsboro;
    margin-right: 20px;
    box-shadow: 4px 6px 7px #f2f2f2;
}
.S3photoVig1 {
    height: 380px ;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 16px;
    right: 40px;
}
.S3titleVig1 {
    font-family: 'Raleway-Bold';
    font-size: 17px;
    position: relative;
    left: 20px;
    bottom: 27px;
}
/*Vignette2*/

.S3vignette2 {
    display: flex;
    flex-direction: column;
    margin-top:68px;
    width: 300px;
    height: 210px;
    border: solid 1px gainsboro;
    border-radius: 20px ;
    background-color: white;
    margin-right: 20px;
    box-shadow: 4px 6px 7px #f2f2f2;
}
.S3photoVig2 {
    height:160px ;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 17px;
    right: 40px;
}
.S3titleVig2 {
    font-family: 'Raleway-Bold';
    font-size: 17px;
    position: relative;
    left: 20px;
    bottom: 30px;
}
/*Vignette3*/

.S3vignette3 {
    display: flex;
    flex-direction: column;
    margin-top:30px;
    width: 300px;
    height: 200px;
    border: solid 1px gainsboro;
    border-radius: 20px ;
    background-color: white;
    box-shadow: 4px 6px 7px #f2f2f2;
}
.S3photoVig3 {
    height:140px ;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 17px;
    right: 40px;
}
.S3titleVig3 {
    font-family: 'Raleway-Bold';
    font-size: 17px;
    position: relative;
    left: 20px;
    bottom: 30px;
}
/*Vignette4*/

.S3vignette4{
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 300px;
    border-radius: 20px ;
    background-color: white;
    border: solid 1px gainsboro;
    margin-top: 70px;
    margin-right: 20px;
    box-shadow: 4px 6px 7px #f2f2f2;
}
.S3photoVig4 {
    height: 380px ;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 16px;
    right: 40px;
}
.S3titleVig4 {
    font-family: 'Raleway-Bold';
    font-size: 17px;
    position: relative;
    left: 20px;
    bottom: 27px;
}
/*Vignette5*/

.S3vignette5 {
    display: flex;
    flex-direction: column;
    margin-top:68px;
    width: 300px;
    height: 210px;
    border: solid 1px gainsboro;
    border-radius: 20px ;
    background-color: white;
    box-shadow: 4px 6px 7px #f2f2f2;
}
.S3photoVig5 {
    height:160px ;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 17px;
    right: 40px;
}
.S3titleVig5 {
    font-family: 'Raleway-Bold';
    font-size: 17px;
    position: relative;
    left: 20px;
    bottom: 30px;
}
/*Vignette6*/

.S3vignette6 {
    display: flex;
    flex-direction: column;
    margin-top:30px;
    width: 300px;
    height: 200px;
    border: solid 1px gainsboro;
    border-radius: 20px ;
    background-color: white;
    box-shadow: 4px 6px 7px #f2f2f2;
}
.S3photoVig6 {
    height:140px ;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 17px;
    right: 40px;
}
.S3titleVig6 {
    font-family: 'Raleway-Bold';
    font-size: 17px;
    position: relative;
    left: 20px;
    bottom: 30px;
}

/*Footer*/
#footer {
    display: flex;
    flex-flow: column wrap;
    background-color: #f2f2f2;
    width: 1300px;
    height: 170px;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-top: -800px;
    margin-left: -7px;
    margin-bottom: -10px;
  
  }
.titleFooter {
    display: flex;
    font-family: 'Raleway-Bold';
    font-size: 23px;
    margin-top: 30px;

}
.h3Footer {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    font-size: 18px;
}
/*<Footer*/


/*Media Queries*/

@media all and (max-device-width: 480px)
{   
    body 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            
        }
    /*HEADER*/
    #topSection
        {
            display: flex;
            flex-direction: column;  
            align-items: center;
            width: 990px;   
            margin-left: 10px;            
        }
    .element_1 
        {
            display: flex;
            align-self: flex-start; 
            margin-left: 40px;             
        }
    .logo1
        {
            width: 330px;
            height: 130px;
            
        }
    .element_2
        {
            display: flex;
            align-self: flex-start;
            font-size: 21px;
            padding-left: 0px;
        }
    .element_3
        {  
            display: flex;
            justify-content: center;
            font-size: 50px;
            padding: 0px;
            border-top: none;
            padding-bottom: 25px;
            padding-left: 50px;
            border-bottom: solid 7px;            
            margin-top: 40px;
            width: 500px;
                 
        }
    .element_4 
        {   display: flex;
            justify-content: center;
            font-size: 50px;
            padding-bottom: 25px;
            border-bottom: 7px solid;
            border-color: rgb(231, 229, 229);            
            margin-top: -10px;
            margin-left: -20px;
            margin-right: -100px;
            padding-right: 0px;
            width: 500px;
        }
    .element_5
        {   
            display: flex;
            font-size: 47px;
            margin-top: -170px;
            margin-left: -230px;                    
        }    
    /*NAV*/
    #menu
        {
            width: 860px;             
            margin-top: 100px;   
            height: 1500px;   
        }
    .menu_1
        {
            font-size: 55px;
            margin-top: -30px;
            margin-bottom: 20px;  
            width: 790px;        
        }
    .p1
        {
            font-size: 40px;
        }
    #menu2_
        {
            margin-top: -25px;
            margin-left: 0px;
            height: 140px;
            
        }
    .i1
        {
            font-size: 45px;
            padding: 45px;
            padding-right: 65px;
            border-radius: 40px 0px 0px 40px;
        }
    .menu2_2 
        {
            font-size: 45px;
            padding-left: 40px;
            width: 530px;
            height: 136px;
            margin-top: 1px;
            border-color: #afaeae;
            z-index: 1;
        }
    .menu2_3 
        {
            display: none;
        }
    .menu2_3_ 
        {
            display: flex; 
            justify-content: center;
            align-items:center ;               
            margin-left: -30px;
            padding: 11.5px;
            background-color: #0065FC;
            font-size: 40px;
            color: white;
            border: grey solid 1px;
            border-radius: 30px  30px 30px 30px ;
            cursor: pointer;
            width: 135px;
            z-index: 2;
        } 
    .menu_3
        {
            display: flex;
            width: 850px;
            font-size: 40px;
            margin-top: 100px;
        } 
    .infoScreen1
        {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
            height: 48px;
            width: 48px;
            border: 3px solid #dad9d9;
            position: relative;
            font-size: 50px;
            
        } 
    /**/     
    .menu_4
        {
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            width: 900px;
        } 
    .tailleText1
        {
            font-size: 40px ;
        } 
    .i
        {
            font-size: 40px;
            padding: 43px;
            margin-left: -3px;
            
            
        }
    .menu_5
        {
            margin-top: 15px;
            margin-left: 0px;
            font-size: 40px;
            padding: 37px;
            padding-left: 0px ;
            border: solid 5px #dad9d9;
            border-radius: 70px;
            border-left: none;
            
        }
    .menu_6
        {
            margin-left: 505px;
            margin-top: -125px;
            margin-bottom: 12px ;  
            font-size: 40px;
            padding: 37px;
            padding-left: 0px ;
            border: solid 5px #dad9d9;
            border-radius: 70px;
            border-left: none;  
                      
        }
    .menu_7 
        {
            margin-top: 30px;
            margin-bottom: 12px;
            font-size: 40px;
            padding: 37px;
            padding-left: 0px ;
            border: solid 5px #dad9d9;
            border-radius: 70px;
            border-left: none;
        }
    .menu_8 
        {
            margin-bottom: 16px;
            margin-top: 30px;
            font-size: 40px;
            padding: 37px;
            padding-left: 0px ;
            border: solid 5px #dad9d9;
            border-radius: 70px;
            border-left: none;
            
        }
    
    /*Section 2 */
    
    #section2 
        {
            display: flex;
            flex-flow: column nowrap;
            margin-top: 650px;
            margin-left: -1827px;
            margin-right: -70px; 
            width: 1100px;             
            min-width: 480px;  
            max-width: none; 
            height: 1520px;
            border-radius: 0px;
            order: 2;            
        } 
    .titleS2
        {
            font-size: 60px;
            margin-left: 70px;
            margin-bottom: 110px;
        }
    .iconsS2 
        {
            font-size: 65px;
            margin-left: 310px;
        }
    /*Vignette 1*/
    .S2vignette1
        {
            margin-left: 60px;
            margin-bottom: 40px;
            margin-top: -230px;
            max-height: none;
            max-width: none;
            height: 376px;           
            width: 980px;            
            border-radius: 60px;
            box-shadow: 4px 3px 10px  #c7c6c6;
        }
    .S2photoVig1
        {
            border-radius: 18px 0px 0px 18px;
            border:rgb(172, 171, 171) solid 0.5px;
            border-radius: 60px 0px 0px 60px;
            margin-right: none;
            margin: 7px;
            width: 400px;
            height: 360px;
        }
    .S2titleVig1
        {
            font-size: 50px ;
            height:50px ;   
            margin-top: 20px;         
        }
    .S2prixVig1
        {
            margin-top: 70px;
            margin-right: 30px;
            font-size: 40px ;
            height: 30px
        }
    .S2note1
        {
            font-size: 35px ;
            height: 10px    ;
            margin-right: 200px  ;
        }
    /*Vignette 2 */
    .S2vignette2
        {           
            margin-left: 60px;
            margin-bottom: 40px;
            max-height: none;
            max-width: none;
            height: 376px;           
            width: 980px;            
            border-radius: 60px; 
            box-shadow: 4px 3px 10px  #c7c6c6;
        }
    .S2photoVig2
        {
            border-radius: 18px 0px 0px 18px;
            border:rgb(172, 171, 171) solid 0.5px;
            border-radius: 60px 0px 0px 60px;
            margin-right: none;
            margin: 7px;
            width: 400px;
            height: 360px;
        }
    .S2titleVig2
        {
            margin-left: 55px  ;
            margin-top: 20px;
            font-size: 50px ;
            height:50px ;            
        }
    .S2prixVig2
        {
            margin-top: 70px;
            margin-right: 60px;
            font-size: 40px ;
            height: 30px;
        }
    .S2note2
        {
            font-size: 35px ;
            height: 10px    ;
            margin-right: 215px  ;
        }
    /*Vignette 3*/
    .S2vignette3
        {
            margin-left: 60px;
            margin-bottom: 50px;
            max-height: none;
            max-width: none;
            height: 376px;           
            width: 980px;            
            border-radius: 60px; 
            box-shadow: 4px 3px 10px  #c7c6c6;
        }
    .S2photoVig3
        {
            border-radius: 18px 0px 0px 18px;
            border:rgb(172, 171, 171) solid 0.5px;
            border-radius: 60px 0px 0px 60px;
            margin-right: none;
            margin: 7px;
            width: 400px;
            height: 360px; 
        }
    .S2titleVig3
        {
            margin-left: 55px  ;
            margin-top: 20px;
            font-size: 50px ;
            height:50px ;
        }
    .S2prixVig3
        {
            margin-top: 70px;
            margin-right: 60px;
            font-size: 40px ;
            height: 30px;
        }
    .S2note3
        {
            font-size: 35px ;
            height: 10px    ;
            margin-right: 210px  ; 
        }
    /*Section 1*/

    #section1
        {	
            display: flex;
            flex-flow: column nowrap;    
            margin-bottom: 2000px;   
            margin-top: -850px;
            background-color: white;                      
            width: 900px; 
            min-width: 480px;
            max-height: none;           
            order: 3;
        }
    .titleS1
        {
            margin-left: 0px;
            font-size: 60px;
        }
    .title_2_S1
        {
            font-size: 50px;
            margin-left: 20px;
            position: relative;
            top: -100px;
        }

    /*VIgnette N°1*/
    #S1vignette1 
        {    
            margin-top: 20px;    
            margin-left: 325px;
            padding-bottom: 27px;
            min-width: 350px;
            border: solid 1px #f2f2f2;
            background-color: rgb(255, 255, 255);
            border-radius: 50px;
            box-shadow: 7px 8px 13px #f2f2f2;
            width: 945px;
            max-height: none;           
        }
    .S1photoVig1
        {
            border: 1px solid rgb(238, 236, 236);
            border-radius: 50px 50px 0px 0px;
            width: 925px;
            height: 330px;
            max-height: none;
            margin-top: 25px;
        }
     .S1titleVig1
        {
            width: auto;
            font-size: 50px;
            height: 20px;
            margin-left: 30px;
        }
    .S1prixVig1
        {
            font-size: 40px;
            height: 17px;
            margin-left: 30px;
        }
    .S1note1
        {
            font-size: 35px;
            margin-left: -530px;
            margin-bottom: -80px;
        }
    /*VIgnette N°2*/
    .S1vignette2
        {
            margin-left: -295px;
            margin-top: 270px;
            padding-bottom: 27px;
            
            min-width: 350px;
            border: solid 1px #f2f2f2;
            background-color: white;
            box-shadow: 7px 8px 13px #f2f2f2;
            border-radius: 50px;
            width: 945px;
            max-height: none;
                   
        }
    .S1photoVig2
        {            
            border: 1px solid rgb(238, 236, 236);
            border-radius: 50px 50px 0px 0px;
            width: 925px;
            height: 330px;
            max-height: none;
            margin-top: 25px;
        }
    .S1titleVig2
        {
            width: auto;
            font-size: 50px;
            height: 20px;
            margin-left: 30px;
        }
    .S1prixVig2
        {
            font-size: 40px;
            height: 17px;
            margin-left: 30px;
        }
    .S1note2
        {
            font-size: 35px;
            margin-left: -530px;
            margin-bottom: -80px;
        }
    /*VIgnette N°3*/
    .S1vignette3 
        {
            
            margin-left: -285px;
            padding-bottom: 27px;
            margin-bottom: 20px;
            min-width: 350px;
            border: solid 1px #f2f2f2;
            background-color: white;
            border-radius: 50px;
            box-shadow: 7px 8px 13px #f2f2f2;
            width: 945px;        
            max-height: none;
        }
    .S1photoVig3
        {            
            border: 1px solid rgb(238, 236, 236);
            border-radius: 50px 50px 0px 0px;
            width: 925px;
            height: 330px;
            max-height: none;
            margin-top: 25px;
        }
    .S1titleVig3
        {
            width: auto;
            font-size: 50px;
            height: 20px;
            margin-left: 30px;
        }
    .S1prixVig3
        {
            font-size: 40px;
            height: 17px;
            margin-left: 30px;
        }
    .S1note3
        {
            font-size: 35px;
            margin-left: -530px;
            margin-bottom: -80px;
        }
    /*VIgnette N°4*/
    .S1vignette4
        {
            margin-left: 510px;
            margin-top: -240px;
            padding-bottom: 27px;
            min-width: 350px;
            border: solid 1px #f2f2f2;
            background-color: white;
            border-radius: 50px;
            box-shadow: 7px 8px 13px #f2f2f2;
            width: 945px; 
            max-height: none;       
        }
    .S1photoVig4
        {           
            border: 1px solid rgb(238, 236, 236);
            border-radius: 50px 50px 0px 0px;
            width: 925px;
            height: 330px;
            max-height: none;
            margin-top: 25px;
        }
    .S1titleVig4
        {
            width: auto;
            font-size: 50px;
            height: 20px;
            margin-left: 30px;
        }
    .S1prixVig4
        {
            font-size: 40px;
            height: 17px;
            margin-left: 30px;
        }
    .S1note4
        {
            font-size: 35px;
            margin-left: -530px;
            margin-bottom: -80px;
        }
    /*VIgnette N°5*/
    .S1vignette5
        {
            margin-top: 270px;
            margin-left: -265px;
            margin-bottom: 0px;
            padding-bottom: 27px;
            min-width: 350px;
            border: solid 1px #f2f2f2;
            background-color: white;
            border-radius: 50px;
            box-shadow: 7px 8px 13px #f2f2f2;
            width: 945px;   
            max-height: none;     
        }
    .S1photoVig5
        {           
            border: 1px solid rgb(238, 236, 236);
            border-radius: 50px 50px 0px 0px;
            width: 925px;
            height: 330px;
            max-height: none;
            margin-top: 25px;
        }
    .S1titleVig5
        {
            width: auto;
            font-size: 50px;
            height: 20px;
            margin-left: 30px;
        }
    .S1prixVig5
        {
            font-size: 40px;
            height: 17px;
            margin-left: 30px;
        }
    .S1note5
        {
            font-size: 35px;
            margin-left: -530px;
            margin-bottom: -80px;
        }
    /*VIgnette N°6*/
    .S1vignette6
        {
            margin-top: 37px;
            margin-left: -265px;
            margin-bottom: 0px;
            padding-bottom: 27px;
            min-width: 350px;
            border: solid 1px #f2f2f2;
            background-color: white;
            border-radius: 50px;
            box-shadow: 7px 8px 13px #f2f2f2;
            width: 945px;   
            max-height: none; 
               
        }
    .S1photoVig6
        {   
            border: 1px solid rgb(238, 236, 236);
            border-radius: 50px 50px 0px 0px;
            width: 925px;
            height: 330px;
            max-height: none;
            margin-top: 25px;
             
        }
    .S1titleVig6
        {
            width: auto;
            font-size: 50px;
            height: 20px;
            margin-left: 30px;                      
        }
    .S1prixVig6
        {
            font-size: 40px;
            height: 17px;
            margin-left: 30px;
        }
    .S1note6
        {
            font-size: 35px;
            margin-left: -530px;
            margin-bottom: -80px;
        }  
    /*Section 3*/
    #section3 
        {   
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            width: 900px; 
            order: 4; 
            margin-top: -1200px; 
            margin-left: 32px;              
        }
    .titleS3
        {   margin-left: -13px;
            font-size: 64px;
        }
    /*Vignette N°1*/
    .S3vignette1
        {   margin-left: -35px;
            width: 945px; 
            height: 450px;
        }
    .S3photoVig1
        {
            width: 945px;
            height: 330px;
        }
    .S3titleVig1
        {
            font-size: 43px ;
            margin-left: 20px;
        }
    /*Vignette N°2*/
    .S3vignette2
        {   
            margin-left: -35px;
            width: 945px; 
            height: 450px;
            margin-bottom: 30px ;
        }
    .S3photoVig2
        {
            width: 945px;
            height: 330px;
        }
    .S3titleVig2
        {
            font-size: 43px ;
            margin-left: 20px;
        }
    /*Vignette N°3*/
    .S3vignette3
        {   
            margin-left: -35px;
            width: 945px; 
            height: 450px;
        }
    .S3photoVig3
        {
            width: 945px;
            height: 330px;
        }
    .S3titleVig3
        {
            font-size: 43px ;
            margin-left: 20px;
        }
    /*Vignette N°4*/
    .S3vignette4
        {   
            margin-left: -35px;
            width: 945px; 
            height: 450px;
        }
    .S3photoVig4
        {
            width: 945px;
            height: 330px;
        }
    .S3titleVig4
        {
            font-size: 43px ;
            margin-left: 20px;
        }
    /*Vignette N°5*/
    .S3vignette5
        {   
            margin-left: -35px;
            width: 945px; 
            height: 450px;
            margin-bottom: 30px ;
        }
    .S3photoVig5
        {
            width: 945px;
            height: 330px;
        }
    .S3titleVig5
        {
            font-size: 43px ;
            margin-left: 20px;
        }
    /*Vignette N°6*/
    .S3vignette6
        {   
            margin-left: -35px;
            width: 945px; 
            height: 450px;
        }
    .S3photoVig6
        {
            width: 945px;
            height: 330px;
        }
    .S3titleVig6
        {
            font-size: 43px ;
            margin-left: 20px;
        }
    #footer 
        {
            display: flex;
            align-self: flex-start;
            justify-content: flex-start;
            flex-flow: column nowrap;
            margin-left: -9px;
            margin-bottom: -10px;
            padding-bottom: 30px;

            height: auto;
            border: #f2f2f2 solid 1px; 
            width: 1020px;               
            min-width: 480px;  
            order: 5;  
                    
        }  
    .titleFooter
        {
            font-size: 50px;
            margin-left: 20px;
        }
    .h3Footer
        {
            font-size: 30px;
            margin-left: 20px;
        }
}
@media all and (min-width:1370px)
{
    .element_2
        {
            padding-left: 780px;
            margin-right: 50px;
        }
    #topSection
        {
            max-width: 1400px;
        }
    #menu
        {
            max-width: 1200px;
            margin-right: none;
        }
    #section1
        {
            width: 99%;
            max-width: 950px;
            min-width: 880px;
        }
    .S1vignette1
        {
            position: relative;
            right: none;
            
        }
    .S1vignette2
        {
            position: relative;
            left: -250px;
            bottom: 0px;            
        }
    .S1vignette3
        {
            position: relative;
            left: 600px;
            bottom: none;
            margin-left: 50px;

        }
    .S1vignette4
        {
            position: relative;
            right:  285px;
            top: 30px;


        }
    .S1vignette5
        {
            position: relative;
            left: -240px;
            top: 30px;
        }
    .S1vignette6
        {
            position: relative;
            left: 620px;
            bottom: 205px;

        }
    .title_2_S1 
        {
            margin-left: -230px;
            position: relative;            
            top: none;
        }

        /**/
    #section2
        {
            margin-left: 120px;
            width: 33%;
            max-width: 440px;
            min-width: 400px;
        }
    .S2vignette1
        {
            width: 88%;
            max-width: none;
        }
    .S2photoVig1  
        {
            width: 130%;
            max-width: 175px;
            margin-right: 50px;
        }
    .S2vignette2
        {
            width: 88%;
            max-width: none;
        }
    .S2photoVig2  
        {
            width: 130%;
            max-width: 175px;
            margin-right: 50px;
        }
    .S2vignette3
        {
            width: 88%;
            max-width: none;
        }
    .S2photoVig3  
        {
            width: 130%;
            max-width: 175px;
            margin-right: 50px;
        }
    #section3
        {
            width: 135%;
            max-width: 1500px;
        }
    #footer
        {
            width: 140%;
            max-width: 1500px;
        }
}


