/*Police Raleway*/
@font-face {
  font-family: Raleway-Regular;
  src: url("Raleway-Regular.ttf") format("truetype"),
    url("Raleway-Regular.eot") format("eot"),
    url("Raleway-Regular.woff") format("woff"),
    url("Raleway-Regular.svg") format("svg");
}
body {
  font-family: "Raleway-Regular", Arial, serif;
}
/*Police Raleway*/
/*Header-Topsection*/
header {
  color: #0065fc;
}
ul {
  list-style: none;
  font-size: 17px;
}
#section1 {
  background-color: #f2f2f2;
}
#section2 {
  background-color: #f2f2f2;
}
#topSection {
  display: flex;
  justify-content: space-between;
}
.element_2 {
    display: flex;
    align-self: flex-end;
    width: 35%;
    font-weight: bold; 
}
.element_3 {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #0065FC; 
    border-top: 3px solid ;
}
.element_4 {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: gray;
}
.element_5 {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #0065FC; 
}
/*Header-Topsection*/
/*Menu*/
#menu {
    display: flex;
    flex-direction: column;  
    padding-left: 40px; 
    height: 500px;
}
.menu_1 {
    font-size: 21px;
    font-weight: bold;
}
.menu_3 {
    order: 8;
}
.menu_4 {
    display: flex;
    justify-content: space-between;
    align-items:
    width: 70%;
}
.menu_5 {
    padding-left: 15px;
    padding-right: 15px;
    boder: #F2F2F2 solid 2px;
    height: 40%;
    background-color: tomato;
}
.menu_6 {
    padding-left: 15px;
    padding-right: 15px;
    border: #F2F2F2 solid 2px;
    

}
.menu_7 {
    padding-left: 15px;
    padding-right: 15px;
    border: #F2F2F2 solid 2px;
    
}
.menu_8 {
    padding-left: 15px;
    padding-right: 15px;
    border: #F2F2F2 solid 2px;
}
/*Effet de survol Filtres*/
.menu_5:link {
    text-decoration: none;
    background-repeat:no-repeat;
}

.menu_5:hover {
    color: #7B68EE;
    text-decoration: none;
    background-image:url(images/gif/cloud_mini.gif);
    background-position: center;
    background-repeat: no-repeat;    
}
/*Effet de survol Filtres*/
i {
    background-color: teal;
    padding: 17px;
    margin: 0px;
    border: solid;
    border-radius: 30px;
}
/*Menu*/
/*Footer*/
footer {
    background-color: #f2f2f2;
  }
/*Footer*/